.productMakeText {
    padding-bottom: 0.7rem;
}

.productTitle {
    padding-bottom: 1rem;
}

.productDescription {
    padding-bottom: 1rem;
}

.productPrice {
    color: var(--Very-dark-blue, #1d2025);
    font-family: 'Kumbh Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 86.667% */
}

.productOldPrice {
    color: var(--Very-dark-blue, #1d2025);
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    text-decoration-line: line-through;
}
