/* .cartWrapper {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    min-height: 250px;
    padding: 12px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.cartEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.cartWrapper h4 {
    color: var(--Very-dark-blue, #1d2025);
    font-family: Kumbh Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}

.cartProductInfo {
    padding: 0;
    margin: 0;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.icon {
    color: var(--icons--);
}

@media (width >= 700px) {
    .cart {
        position: absolute;
        top: 10%;
        left: 70%;
        margin: 0 auto;
        min-width: 30%;
    }
} */
