.header {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    flex-wrap: nowrap;
}

.header h2 {
    font-family: Outfit;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0 0.5rem;
}

.header button {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    border-radius: 0;
    cursor: pointer;
    color: black;
}

.iconButton {
    height: 24px;
    width: 24px;
    margin: 6px 0.3em 0px 0px;
}

.logoButton {
    margin: 0;
}

.headerRight {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.headerLeft {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
}

.cartBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(119, 170, 158, 0.7);
    color: white;
}

.icon {
    color: var(--icons--);
}
