.sliderContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    scroll-behavior: smooth;
    max-height: 32rem;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
}

.sliderContainer img {
    width: auto;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    min-height: 32rem;
    max-height: 32rem;
    scroll-snap-align: center;
    margin-bottom: 10px;
}

.sliderContainerButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 37%;
    left: 0.5rem;
}

.sliderContainerButtons a {
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    margin: 0.3rem;
    border: 1px solid black;
    scroll-behavior: smooth;
}

.active {
    background-color: black;
}
