.sliderContainer {
    display: flex;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
}

.sliderContainer ul {
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
}

.sliderContainer button {
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: var(--lightgrey--);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &:focus {
        background-color: var(--lightgrey--);
    }
    border: none;
    cursor: pointer;
}

.buttonRight {
    right: 5%;
}

.buttonLeft {
    left: 5%;
}

.sliderContainer li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 300px;
    height: auto;
    width: 100vw;
}

.sliderContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    min-height: 300px;
}

.sliderContainer.onLoading {
    background-color: var(--lightgrey--);
}

.sliderContainer img {
    opacity: 1;
}

@keyframes fadein {
    0% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.sliderContainer img {
    animation: fadein 3s;
}

.icon {
    color: var(--icons--);
}
