:root {
    --primary--: rgb(119, 170, 158);
    --secondary--: rgb(247, 248, 253);
    --icons--: rgb(0, 0, 0, 0.5);
    --white--: rgb(255, 255, 255);
    --lightgrey--: rgb(211, 211, 211);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
